{% extends "projects/layout.html" %}

{% block body %}

<div class="container">
    <form action="{% url 'projects:project_edit' project.slug %}" method="post">{% csrf_token %}

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}
        <div><p>Проект:</p>
            <hr>
            {% for field in form %}
            <div class="input-group mb-2">
                <span class="input-group-text" >{{ field.label }}</span>
                {{ field }}
            </div>
            {% endfor %}
            <hr>
            <p>Таски:</p>
            <div>
                <div class="row">

                    {{ task_formset.management_form }}
                    {% for form in task_formset %}
                        <div class="col-1" style="background-color: {{ form.field_color.value }}; width: 5%"></div>
                        <div class="col-11" style="width: 95%; background-color: {{ form.field_color.value }}15">

                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                            {{ hidden.errors }}
                        {% endfor %}

                        {% for field in form.visible_fields %}
                            <div class="input-group mb-2">
                                <span class="input-group-text" >{{ field.label_tag }}</span>{{ field }}
                            </div>
                        {% endfor %}



                        </div>
                        <hr>
                    {% endfor %}
                </div>
            </div>
            <input class="btn btn-primary my-2" type="submit" value="Сохранить">

        </div>
    </form>
<form action="{% url 'projects:projects'%}">
    <input class="btn btn-primary my-2" type="submit" value="К списку проектов">
</form>
</div>
{% endblock %}