{% extends "projects/layout.html" %}

{% block body %}

<div class="container my-3">
    <form action="{% url 'projects:project_create' %}" method="post">{% csrf_token %}
        <div>
            {% for field in form %}
            <div class="input-group mb-3">
                <span class="input-group-text" >{{ field.label }}</span>
                {{ field }}
            </div>
            {% endfor %}

{#            <div class="form-group">#}
{#                <select class="form-control" name="project_id">#}
{#                    {% for project in project_list %}#}
{#                    <option value="{{project.number}}">{{project}}</option>#}
{#                    {% endfor %}#}
{#                </select>#}
{#            </div>#}

            <input class="btn btn-primary my-3" type="submit" value="Сохранить">
        </div>

    </form>


</div>
{% endblock %}

