{% extends "projects/layout.html" %}
{%  load get_item_filter %}

{% block body %}

<div >

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Адрес</th>
                <th scope="col">Исполнитель</th>
                <th scope="col">Ссылка на проект</th>
                <th scope="col">Whatsapp</th>
                <th scope="col">Начало</th>
                <th scope="col">Окончание</th>
                {% for day in chart_range %}
                    <th scope="col" class="vertical-cell">{{ day }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
            <tr>
                <td>{{ project.number }}</td>
                <td><a href="{{ project.slug }}">{{ project.name }}</a></td>
                <td>{{ project.executor }}</td>
                <td><a class="project_link" target="_blank" rel="noopener noreferrer" href="{{ project.project_link }}"><img src="/media/icons/icons8-google-sheets-24.png" alt="" />{{ project.project_link|truncatechars:15 }}</a></td>
                <td><a class="whatsapp_link" target="_blank" rel="noopener noreferrer" href="{{ 'https://wa.me/'}}{{ project.executor.mobile }}"><img src="/media/icons/icons8-whatsapp-24.png" alt="Whatsapp" />{{ project.executor.mobile }}</a></td>
                <td>{{ project.project_start_date|date:"d-m-y" }}</td>
                <td>{{ project.project_end_date|date:"d-m-y" }}</td>
                {%  if project.calendar_chart %}
                    {% for day in chart_range %}
                        <td class="border-right" title="{{ project.calendar_chart|get_second_item:day }}" style="background-color:{{ project.calendar_chart|get_first_item:day }}"></td>
                    {% endfor %}
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>



</div>

{% endblock %}